web:
  build: .
  container_name: ctf_web
  ports:
    - "8080:80"
  volumes:
    - ./web/src:/var/www/html
  depends_on:
    - db
  environment:
    - APACHE_RUN_USER=www-data
    - APACHE_RUN_GROUP=www-data

db:
  image: mysql:8.0
  container_name: ctf_db
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: rootpass
    MYSQL_DATABASE: ctf_platform
    MYSQL_USER: ctf_user
    MYSQL_PASSWORD: ctf_pass
  ports:
    - "3306:3306"
  volumes:
    - db_data:/var/lib/mysql
    - ./db/table.sql:/docker-entrypoint-initdb.d/table.sql
